<section class="cv-container">
    <h1 class="cv-heading">Curriculum Vitae</h1>
    <h2 (click)="toggleEducation()" class="clickable-header" [ngClass]="{'expanded': isEducationExpanded}">
        Education
        <span class="toggle-icon" [ngClass]="{'rotate': isEducationExpanded}">▼</span>
    </h2>
        <div *ngIf="isEducationExpanded">
            <strong>2023 - Present</strong><br>
            <strong>University College Dublin</strong><br>
            <em>MSc Computer Science (Negotiated Learning)</em>
            <p>Currently undertaking and have completed first semester in a Masters of Computer Science in University College Dublin. With the completion of this Masters, I have advanced my skillset in areas such as Software Development, Data Science and Machine Learning. I have completed or am currently undertaking modules in these disciplines:</p>
            <ul>
                <li>Programming & Software Development:</li>
                <ul>
                    <li>Utilising Java/JavaFX to develop high quality software.</li>
                    <li>Exploring Multi-Paradigm Programming concepts using Scala.</li>
                    <li>Learning Software Methodology, Agile principles and other practices found in Contemporary Software Development.</li>
                </ul>
                <li>Data Structures and Algorithms:</li>
                <ul>
                    <li>Understanding the design and analysis of efficient algorithms and data structures in Java.</li>
                    <li>Studying optimisation techniques in linear and integer programming and as well as of np-hardness and approximation algorithms.</li>
                </ul>
                <li>Data Science:</li>
                <ul>
                    <li>Studying Data Science fundamentals with Python.</li>
                    <li>Exploring Data Mining with regards to real world problems.</li>
                </ul>
                <li>Machine Learning and Artificial Intelligence:</li>
                <ul>
                    <li>Learning fundamental theories of Machine learning.</li>
                    <li>Exploring Deep Learning concepts such as neural network approaches.</li>
                    <li>Investigating Recommender Systems and Collective Intelligence.</li>
                </ul>
                <li>Information Security:</li>
                <ul>
                    <li>Introduction to symmetric/public key cryptography, hash functions, authentication and protocols as used in info-sec.</li>
                </ul>
            </ul>
            <br>
            <strong>2015 - 2019</strong><br>
            <strong>University College Cork</strong><br>
            <em>BSc Business Information Systems (BIS)</em>
            <p>Graduated with an Upper Second-Class Honours (2:1). BIS is four-year, Bachelor of Science degree with a 50/50 focus on Business and Business Technology. The course included:</p>
            <ul>
                <li>Solid grasp of the basics of accounting, including financial and management accounting.</li>
                <li>Good understanding of basic economic principles, at both macro and micro levels.</li>
                <li>Focus on Marketing, with a specialisation in consumer behaviour.</li>
                <li>Focus on programming, with experience in programming languages such as Java & JavaFX, Visual Basic, as well as design with experience in HTML, CSS and JavaScript.</li>
                <li>Understanding of Databases (SQL & NoSQL) as well as the proper management and security design.</li>
            </ul>
        </div>

    <h2 (click)="toggleWorkExperience()" class="clickable-header" [ngClass]="{'expanded': isWorkExperienceExpanded}">
        Work Experience
        <span class="toggle-icon" [ngClass]="{'rotate': isWorkExperienceExpanded}">▼</span>
    </h2>
        <div *ngIf="isWorkExperienceExpanded">
            <strong>2019 - 2023</strong><br>
            <strong>AIG</strong><br>
            <em>DevOps Engineer (Jan 2021 – September 2023)</em>
            <p>Full-stack developer tasked with developing several initiatives for a DevOps team (9 people). The main team initiatives include:</p>
            <ul>
                <li>Image Capturing Effort (ICE):</li>
                <ul>
                    <li>Automation of manual effort to capture necessary information for audit compliance.</li>
                    <li>Application scraped data and screenshots from various programs using headless automation and stored them in a database.</li>
                    <li>Application reduced time from minutes per audit item to less than 30 seconds. Automated audit items were also free of manual errors and stored in database for as long as needed for ease of access.</li>
                    <li>Stack & utilised tech: Node.js, MongoDB, Puppeteer, Splunk, RHEL 7, Docker, GitHub, HTML, CSS.</li>
                </ul>
                <li>Process Automation Verification Effort (PAVE):</li>
                <ul>
                    <li>Automation of spreadsheet to indicate level of DevOps team compliance.</li>
                    <li>Created Fronted Portal for teams to automatically calculate level of DevOps Maturity.</li>
                    <li>Removed reliance on spreadsheets and manual effort. Created a one-stop shop that allowed individual team members to quickly calculate compliance levels. Non-compliance caused a halt on pipelines until issues where resolved.</li>
                    <li>Stack & utilised tech: Node.js, PostgreSQL, Express, Jenkins, GitHub, HTML, CSS.</li>
                </ul>
            </ul>

            <em>Technology Analyst (Jul 2019 – Dec 2020)</em>
            <p>Worked within Treasury IT and EMEA Change Management teams while with the AIG Graduate Program (TAP).</p>
            <ul>
                <li>BAU Task Automation:</li>
                <ul>
                    <li>Assisted with fronted and backend design of portal for server monitoring.</li>
                    <li>Created extensive SDLC documentation for the project.</li>
                    <li>Stack & utilised tech: Node.js, Angular.js, Java, HTML, CSS, Ionic, GitHub.</li>
                </ul>
                <li>Power BI, Excel & SharePoint:</li>
                <ul>
                    <li>Created Excel spreadsheets reporting for Treasury IT team that monitored payments for AIG Investments utilising extensive querying and macros.</li>
                    <li>Designed PowerBI dashboard for monitoring Treasury systems with automatic report generated.</li>
                    <li>Redesigned Treasury SharePoint site and maintained it over the course of my rotation.</li>
                    <li>Worked with various payment monitoring systems for reporting including Biztalk, OpenLink and Swift Alliance.</li>
                </ul>
            </ul>

            <em>Information Technology Intern (Jul 2018 – Sep 2018)</em>
            <p>Completed 6-month internship with 2 teams:</p>
            <ul>
                <li>Production Support:</li>
                <ul>
                    <li>Daily report creation for management tickets and vendor Service Level Agreements.</li>
                    <li>Oversaw governance ticket management for the Netherlands and Switzerland.</li>
                    <li>Assisted in decommissioning of IBM Rational ClearQuest software upon move to Agile Central (Rally) and an Agile environment (SAFe) within AIG.</li>
                </ul>
                <li>AEL AutoBooker:</li>
                <ul>
                    <li>Worked in test automation of AIG initiative to automate insurance premium booking and renewal system.</li>
                    <li>Wrote test cases using cucumber behaviour driven development to test services within the project.</li>
                </ul>
            </ul>
        </div>    

    <h2 (click)="toggleExtraCurricularActivities()" class="clickable-header" [ngClass]="{'expanded': isExtraCurricularActivitiesExpanded}">
        Extra Curricular Activities
        <span class="toggle-icon" [ngClass]="{'rotate': isExtraCurricularActivitiesExpanded}">▼</span>
    </h2>    
        <div *ngIf="isExtraCurricularActivitiesExpanded">
            <ul>
                <li>Road running and member of the Dublin Inner City Running Club. Compete regularly in road races across Ireland.</li>
                <li>Avid photographer with a particular interest in analogue film photography and film development.</li>
                <li>Amateur House and Techno DJ.</li>
            </ul>
        </div>    
</section>    


