<div class="about-container">
    <div class="bio-container">
        <div class="bio-heading">
          <img class="bio-image" src="https://media.licdn.com/dms/image/C4D03AQFLGHKg0Sl7fw/profile-displayphoto-shrink_800_800/0/1615304277661?e=1684972800&v=beta&t=tdzQr2JSSgcVaCLCHMk5jebPrVYh5s42pHFeJRAqLVQ" alt="Scott Carey">
          <h1>Scott Carey</h1>
        </div>
        <div class="bio-description">
          <p>
            Scott Carey is a photographer from Cork, Ireland, currently living and working in Dublin. Although he is a Software Developer by trade, photography has always been a hobby and a creative outlet for him.
          </p>
          <p>
            Scott's photographic style centers around analog 35mm photography, with a particular focus on using the Minolta X-700 and Canon AE-1 cameras. He enjoys the tactile process of film photography, and the unique character that each roll of film brings to his images.
          </p>
          <p>
            Despite his love for film photography, Scott is also proficient in digital photography, and often uses his technical skills to manipulate and enhance his images in post-processing.
          </p>
          <p>
            When he's not taking photographs, Scott can often be found exploring the streets of Dublin, seeking out new and interesting perspectives to capture through his lens.
          </p>
        </div>
      </div>
      <div class="contact-container-about">
        <app-contact></app-contact>
      </div>
</div>


