<section class="contact-container">
  <h1 class="contact-heading">Contact</h1>
  <ul class="contact-links">
    <li>
      <a href="mailto:scottcarey96@gmail.com?subject=WebsiteContact&body=Message">
        <span class="icon"><i class="fas fa-envelope"></i></span>
        <span>Email</span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/scottcarey96/">
        <span class="icon"><i class="fab fa-linkedin"></i></span>
        <span>LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://www.flickr.com/photos/94142351@N06">
        <span class="icon"><i class="fab fa-flickr"></i></span>
        <span>Flickr</span>
      </a>
    </li>
  </ul>
</section>


  
