<!-- <div class="portfolio-container">
    <app-side-bar (locationClicked)="selectedLocation = $event"></app-side-bar>
    <div class="image-grid">
      <div *ngFor="let photograph of photographs | filterByCounty: selectedCounty | filterByLocation: selectedLocation" class="image-item">
        <img [src]="photograph.url" alt="{{photograph.description}}">
        <a [title]="photograph.name + ' details'" [routerLink]="['/photographs', photograph.id]">{{ photograph.name }}</a>
        <p>{{photograph.description}}</p>
    </div>
  </div>      
</div> -->

<div class="portfolio-container">
  <!-- <app-side-bar></app-side-bar> -->
  <div class="image-grid">
    <div *ngFor="let photo of photoset?.photo" class="image-item">
      <img [src]="getPhotoUrl(photo, photoset)" alt="{{ photo.title }}">
      <a [title]="photo.title" [routerLink]="['/photographs', photo.id]">{{photo.title}}</a>
      <p>{{ getPhotoDescription(photo) }}</p>
      <p>{{ getPhotoLocation(photo) | async }}</p>
    </div>
  </div>      
</div>
  